* {
  margin: 0px;
  box-sizing: border-box;
  font-family: 'Courier New', Courier, monospace;
}
#tsparticles {
  position: fixed;
}
.login-container {
  position: relative;
  width: 100vw;
  height: 100vh;
  z-index: 10;
  display: flex;
  justify-content: center;
  align-items: center;
  pointer-events: none;
}
.login-container .login-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  pointer-events: all;
  border: 4px solid white;
  padding: 50px;
  background: rgba(255, 255, 255, 0.25);
  box-shadow: 0 8px 32px 0 rgba(210, 134, 21, 0.37);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
}
.login-container .login-form p {
  font-size: 30px;
}
.login-container .login-form #login-form {
  display: flex;
  flex-direction: column;
}
.login-container .login-form #login-form input {
  margin: 20px;
  font-size: 20px;
  text-align: center;
  border-radius: 7px;
}
